@import "./card.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
}

body,
h1,
h2,
h3,
p,
div,
span {
  font-family: "Afacad Flux", sans-serif !important;
}

a:hover {
  text-decoration: underline;
}

a {
  cursor: pointer;
}

.link-inset {
  inset: -0.4rem;
}

.inverted {
  filter: invert(100%);
}

.slight-blur {
  --tw-blur: blur(3px);
}

md-list {
  --md-sys-color-on-surface: rgb(226 232 240);
  --md-list-item-supporting-text-color: rgb(226 232 240);
}

.collapsible-content {
  overflow: hidden;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
  max-height: 0;
}

.expanded {
  max-height: 1000px;
  transition: max-height 2s;
}

ul {
  list-style-type: disc !important;
  margin-left: 2rem; /* Ensure spacing for bullets */
}

.lighten {
  filter: brightness(2);
}

.hover-click {
  will-change: transform;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.hover-click:hover {
  transform: scale(1.2);
}

md-dialog {
  max-width: 50%;
}

#minesweeperProject {
  max-width: 90%;
}

#githubLogo {
  filter: invert(100%);
}
